.title{
    color: whitesmoke;
}

.textprogram{
    height: 400px;
    width: 400px;
    background-color: grey;
    color: ivory;
    float: left;
}

.photo {
    height: 400px;
    margin-left: 30px;
}
.Allprogram{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.all{
    background-color: darkslategrey;
}


